body {
    background-image: linear-gradient(rgb(199, 199, 199),rgb(116, 0, 0));
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.btn-block {
    width: 100%;
    height: 100px;
}

.bg-primary {
    background-image: linear-gradient(#343434,red);
}

.bg-light {
    background-color: rgb(199, 199, 199);
}

.btn-primary {
    color: black;
    background-image: url('../img/poke-button-hover.svg');
    background-size: cover;
    background-position: center;
    border-color: aliceblue;
}

.btn-primary:hover {
    background-image: url('../img/poke-button.svg');
    background-color: none;
    background-size: cover;
    background-position: center;
    border-color: rgb(255, 0, 0);
}

#loading {
    display: none;
}

#loading.is-visible {
    display: block;
}